ul,
il {
    list-style: none;
}

a {
    color: inherit;
    /* or use your own color */
    text-decoration: none;
}

button {
    all: unset;
    display: inline-block;
    cursor: pointer;
    padding: 0;
    margin: 0;
    background: none;
    border: none;
    font: inherit;
    color: inherit;
    text-align: inherit;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pointer {
    cursor: pointer;
}

.logoSize {
    width: 150px;
}

.flexForNav {
    gap: 30px;
    font-size: 20px;
    font-weight: 500;
    font-family: "Outfit", sans-serif;
    transition: 1s;
}

.hoverForNav:hover {
    font-size: 22px;
    font-weight: 700;
    transition: 1s;
}

/* Home part */
.bg1 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./images/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.innerPadding {
    padding: 120px 0;
    text-align: center;
}

.homeText {
    color: white;
    font-family: "Lexend Deca", sans-serif;
}

.text1 {
    font-size: 60px;
}

.text2 {
    font-size: 20px;
    text-align: right;
    font-weight: 200;
}

.flexForBtn {
    margin-top: 30px;
    justify-content: center;
    gap: 40px;
}

.btnForHome {
    padding: 20px;
    background: wheat;
    border: 2px solid black;
    border-radius: 20px;
    font-size: 17px;
    font-family: "Lexend Deca", sans-serif;
    cursor: pointer;
}

.btnForHome:hover {
    background: black;
    border: 2px solid black;
    color: wheat;
    border-radius: 20px;
    font-size: 17px;
    font-family: "Lexend Deca", sans-serif;
    transition: 0.2s;
}

.boxOfShow {
    margin-top: 40px;
    padding: 20px 20px;
    background: rgb(223, 213, 213);
    width: 300px;
    border-radius: 30px;
}

.forBoxFlex {
    justify-content: space-evenly;
}

.textForIn {
    font-weight: 600;
    font-family: "Lexend Deca", sans-serif;
    text-align: left;
}

.inText1 {
    text-align: left;
    font-weight: 300;
    font-size: 16px;
    font-family: "Lexend Deca", sans-serif;
}

/* Home part */

/* about part  */
.about {
    padding: 100px 0;
}

.pagiNation {
    font-family: "Outfit", sans-serif;
    font-weight: 500;
}

.infoAbout {
    font-family: "Outfit", sans-serif;
    font-size: 30px;
    font-weight: 300;
}

.pagiNation2 {
    font-family: "Outfit", sans-serif;
    font-weight: 500;
    text-align: right;
}

.infoAbout2 {
    font-family: "Outfit", sans-serif;
    font-size: 30px;
    font-weight: 300;
    text-align: right;
}

/* about part  */

/* Event part  */
.events {
    padding-top: 100px 0;
}

.pad2 {
    padding: 80px 0;
}

.textOfEvent1 {
    font-size: 40px;
    text-align: center;
    font-family: "Lexend Deca", sans-serif;
}

.textOfEvent2 {
    font-size: 20px;
    margin: 0 auto;
    font-weight: 200;
    width: 750px;
    text-align: center;
    font-family: "Lexend Deca", sans-serif;
}

.boxOfEvent {
    width: 412px;
    background: rgb(209, 196, 196);
}

.imgEvent {
    max-width: 100%;
}

.padInText {
    padding: 20px;
}

.textEve2 {
    font-weight: 600;
    font-family: "Lexend Deca", sans-serif;
}

.textEve3 {
    font-weight: 400;
    font-size: 16px;
    font-family: "Lexend Deca", sans-serif;
}

.overFlow {
    overflow: hidden;
}

/* Event part  */

/* member part  */
.member {
    padding: 100px 0;
}

.fontOfHeadInMember {
    font-family: "Lexend Deca", sans-serif;
}

.fontOfHeadInMember2 {
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
    font-size: 19px;
    margin-bottom: 40px;
}

.ULofmember {
    list-style-type: disc;
    font-family: "Lexend Deca", sans-serif;
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 18px;
    font-weight: 300;
}

.padding2 {
    padding-top: 30px;
    text-align: right;
}

.ULofmember2 {
    list-style-type: disc;
    text-align: right;
    font-family: "Lexend Deca", sans-serif;
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 18px;
    font-weight: 300;
    direction: rtl;
}

.textCenter {
    text-align: center;
    font-family: "Outfit", sans-serif;
    font-size: 40px;
    width: 1027px;
    margin: 0 auto;
    padding: 30px;
    border: 1px solid black;
    border-radius: 20px;
    margin-bottom: 40px;
}

.formHead {
    text-align: center;
    font-family: "Lexend Deca", sans-serif;
    margin-top: 40px;
}

.formUP {
    text-align: center;
    font-family: "Lexend Deca", sans-serif;
}

.elementOfForm {
    padding: 10px 10px;
    width: 300px;
    margin: 20px 0;
}

.textRed {
    color: red;
}

.btn {
    padding: 20px;
    background: #000;
    color: wheat;
    font-family: "Lexend Deca", sans-serif;
}

/* member part  */


/* Responsive part */
@media (max-width: 480px) {
    .flex {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .pointer {
        cursor: pointer;
    }

    .logoSize {
        width: 100px;
        margin-left: 42px;
    }

    .flexForNav {
        gap: 8px;
        font-size: 20px;
        font-weight: 500;
        font-family: "Outfit", sans-serif;
        /* transition: 1s; */
    }

    .hoverForNav:hover {
        font-size: 22px;
        font-weight: 700;
        transition: 1s;
    }

    /* Home part */
    .bg1 {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./images/bg1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

    }

    .innerPadding {
        padding: 120px 0;
        text-align: center;
    }

    .homeText {
        color: white;
        font-family: "Lexend Deca", sans-serif;
    }

    .text1 {
        font-size: 60px;
    }

    .text2 {
        font-size: 20px;
        font-weight: 200;
        margin-right: 20px;
    }

    .flexForBtn {
        margin-top: 30px;
        justify-content: center;
        gap: 40px;
    }

    .btnForHome {
        padding: 20px;
        background: wheat;
        border: 2px solid black;
        border-radius: 20px;
        font-size: 17px;
        font-family: "Lexend Deca", sans-serif;
        cursor: pointer;
    }

    .btnForHome:hover {
        background: black;
        border: 2px solid black;
        color: wheat;
        border-radius: 20px;
        font-size: 17px;
        font-family: "Lexend Deca", sans-serif;
        transition: 0.2s;
    }

    .boxOfShow {
        margin-top: 40px;
        padding: 20px 20px;
        background: rgb(223, 213, 213);
        width: 300px;
        border-radius: 30px;
    }


    .textForIn {
        font-weight: 600;
        font-family: "Lexend Deca", sans-serif;
        text-align: left;
    }

    .inText1 {
        text-align: left;
        font-weight: 300;
        font-size: 16px;
        font-family: "Lexend Deca", sans-serif;
    }
    .flex2{
        flex-direction: column;
    }
    /* Member  */
   .textCenter {
    text-align: center;
    font-family: "Outfit", sans-serif;
    font-size: 20px;
    width: 400px;
    margin: 0 auto;
    padding: 30px;
    border: 1px solid black;
    border-radius: 20px;
    margin-bottom: 40px;
}
    /* Member  */
}

@media (max-width: 768px) {}

@media (max-width: 1200px) {}

/* Responsive part */